<%- include('header'); %>

<form action="/addMovie" method="post">
    <div>
      <p>Let op! Je gaat een movie <strong>Toevoegen</strong> </p>
        <label for="title">Title</label>
        <input type="text" name="name" id="title" value ="" required>
      </div>
      <div>
        <label for="score">My score</label>
        <input type="number" name="score" id="score" value ="" required>
      </div>
      <div>
        <label for="ranking">Ranking</label>
        <input type="number" name="ranking" id="score" value ="" required>
      </div>
      <div>
        <button type='submit'>Send!</button>
      </div>
</form>

</body>
</html> 