<%- include('header'); %>

<form action="/addMovie" method="post">
    <div>
        <label for="title">Title</label>
        <input name="title" id="title" >
      </div>
      <div>
        <label for="score">My score</label>
        <input name="score" id="score" >
      </div>
      <div>
        <button type='submit'>Send!</button>
      </div>
</form>

</body>
</html> 