<%- include('header'); %>

<div class="classroom">
        <p> <strong>Name: <%= name %> <br> Score: <%= myScore %> <br> Ranking: <%= ranking %> </strong></p>
</div>


<a class="links" href='/movies'> <strong> Terug naar Movies</strong></a>
</body>
</html> 