<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<img src="/AP_logo.png"/>
<body>
<div class="topnav"> 
    <nav>
        <a class="links" href='/'>Home</a>
        &nbsp; &nbsp; &nbsp;
        <a class="links"  href='/movies'>Movies</a>
        <a class="links"  href='/addMovie'>Anime Toevoegen</a>
      </nav>
</div>  
   



