<%- include('header'); %>
<div class="home_div">
  <h3>Anime Info</h3>
</div>
<img class="home_photo" src="/Anime_awards.png" />
<div>
<p class="para_div">
  <h4>
hier kan je een lijst zien met films die ik heb gezien. <br />
  Ik zal deze films ook raten. 
  Je zal meer informatie vinden later in de webiste als je er doorheen browst.Veel plezier!
</h4>
  <br>
  INTERVIEW: So I'm a Spider, So What? Fei Voice Actor Eri Kitamura Check out
  the English language translation of the interview with So I'm a Spider, So
  What? Fei voice actor Eri Kitamura! Guest Author May 07, 2021 6:00pm CEST (55
  minutes ago) Read our English language translated interview with So I'm a
  Spider, So What? Fei voice actor Eri Kitamura where she talks about playing
  the little companion, how she lets the animation direct the way she performs
  scenes, the relationship between Fei and Shun, and much more! Hit the jump to
  read the interview! Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>