<%- include('header'); %>
<h1>Landing page</h1>
<p> hier kan je een lijst zien met films die ik heb gezien. <br>
    Ik zal deze films ook raten. <br>
    Je zal meer informatie vinden later in de webiste als je er doorheen browst. <br>
    Veel plezier!   
</p>    







</body>
</html>   