<%- include('header'); %>
<div>
    <img class= "anime_movie" src="/Anime_logo.png"/>
    <h1>Anime Series</h1>
</div>
<div>
<ul>
    <% movies.forEach((anime,id) =>{  %> 
    <li>
    <a class="ani" href='/movies/<%=id%>' >  <%= anime.name %> <%= anime.myScore %> </a>
    </li>
<%  }); %>
</ul>
</div>
<a class="links"  href='/addMovie'>Anime Toevoegen</a>
</body>
</html>   