<%- include('header'); %>
<div>
    <img class= "anime_movie" src="/Anime_logo.png"/>
    <h3>Anime Series</h3>
</div>
<div>
<ul>
    <% animes.forEach((anime) =>{  %> 
    <li> 
        <a class="ani" href='/movie/<%= title %>'>  <%= anime.name %> <%= anime.myScore %>  </a>
    </li>
<%  }); %>
</ul>
</div>
<a class="links"  href='/movie'>Anime Toevoegen</a>
</body>
</html>   